opencv_python==3.4.1.15
pandas==1.0.3
albumentations==0.4.3
pyproj==2.6.0
geopandas==0.7.0
torchvision==0.4.1
Flask==1.1.2
Shapely==1.6.4.post2
Flask_SQLAlchemy==2.4.4
torch==1.1.0
GDAL==2.3.3
numpy==1.18.5
tqdm==4.23.4
rasterio==1.0.2
affine==2.1.0
scikit-image==0.16.2
efficientnet-pytorch==0.5.1
pretrainedmodels==0.7.4